:root{
  --icon-bg-color: #34495e
  --text-color: #34495e
  --h-color: #d23669 
  --bg-color: #FFF
  --tag-text-color: #FFF
  --tag-bg-color: #2c3e50
  --tag-hover-bg-color: #e5e7eb
  --tag-hover-text-color: #2c3e50
  --mask: #FFFFFF50
  }
@media (prefers-color-scheme: dark){
:root{
  --icon-bg-color: #34495e
  --text-color: #e5e7eb
  --h-color: #d23669
  --bg-color: #282c35 
  --tag-text-color: #e5e7eb
  --tag-bg-color: #34495e
  --tag-hover-bg-color: #e5e7eb
  --tag-hover-text-color: #0e1116 
  --mask: #00000080
  }
}
 